body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}


#check-boxes{
	display: flex;
	width: 40vw;
	justify-content: space-between;
}

header {
	/* background-color: chartreuse; */
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: solid;
	border-width: 1px;
	border-color: black; */
	font-size: 25px;
	margin: 0;
}

#top-section{
	/* background-color: red; */
	height: 10vh;
	margin: 0;
}

#section-two{
	/* background-color: aqua; */
	display: flex;
	height: 30vh;
	justify-content: space-around;
	
}



.hover:hover ~ .hide {
	opacity: 1;
	color: red;


}

.hide{
	opacity: 0; 

}


#bottom-setion{
	/* background-color: rgb(229, 134, 149); */
	height: 25vh;
}

#bottom-buttons{
	display: flex;
	justify-content: space-between;
	align-items: first baseline;
}
.favorite-buttons {
	background-color: yellow;
	border-radius: 25%;
	border: solid;
	border-color: black;
	border-width: 1px;
	color: black;
	font-size: 15px;
}